script(src='scripts/svg-edit/embedapi.js')


#presentation_controls

  input#edit_button(type='checkbox') 
  input#edit_inplace_button(type='checkbox') 

  button#back_button(title='back')
  button#forward_button(title='forward')
  label(for='edit_button', title='edit in an external editor')
  label(for='edit_inplace_button', title='edit in place (with svg-edit)')
  
#svg_editor_controls
  .centered_buttons
    button#save_button(title='save SVG') Save
    button#cancel_button(title="stop editing (don't save)") Cancel


#notification_popup
  #basic-template
    a.ui-notify-cross.ui-notify-close(href='#') x
    h1 \#{title}
    p \#{text}
