!!! xml
html

  head
    title Presentation

    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

    // Styles

    link(rel='stylesheet', href='styles/presentation.css', type='text/css')
    link(rel='stylesheet',
         href='styles/ui-darkness/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='styles/ui.notify.css')

    // Scripts

    // jquery
    script(src='scripts/jquery/jquery-1.7.1.js')

    // jquery ui
    script(src='scripts/jquery/jquery-ui-1.8.16.custom.min.js')

    // jquery svg
    // script(src='scripts/jquery/jquery.svg.js')
    // script(src='scripts/jquery/jquery.svgdom.js')
    // script(src='scripts/jquery/jquery.svganim.js')
    // script(src='scripts/jquery/jquery.svgfilter.js')

    // jquery animate-enhanced
    script(src='scripts/jquery/jquery.animate-enhanced.min.js')

    // jquery mobile
    script(src='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js')

    // jquery text-fill
    // script(src='scripts/jquery/jquery-textfill-0.1.js')

    // growl-style notifications: https://github.com/ehynds/jquery-notify
    script(src='scripts/jquery/jquery.notify.js')

    // html2canvas (for thumbnails)
    script(src='scripts/html2canvas/html2canvas.js')

    // d3.js
    script(src='scripts/d3/d3.js')

    // main script (generated from coffeescript)
    script(src='scripts/presentation.js')

    // mathjax
    script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')

  body

    #presentation
        include slides.jade

    include controls.jade