html

  head
    title Presentation
    
    meta(name="generator", 
         content="HTML Tidy for Linux/x86 (vers 1st November 2003), see www.w3.org")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="duration", content="20")
    
    //link(rel="stylesheet", href="styles/slidy.css", type="text/css")
    //link(rel="stylesheet", href="styles/w3c-blue.css", type="text/css")
    link(rel="stylesheet", href="styles/presentation.css", type="text/css")
        
    // Scripts
    // jquery
    script(src='scripts/jquery-1.7.1.js')
    // jquery svg
    script(src='scripts/jquery.svg.js')
    script(src='scripts/jquery.svgdom.js')
    // html2canvas
    script(src='scripts/html2canvas/html2canvas.js')
    script(src='scripts/html2canvas/jquery.plugin.html2canvas.js')
    
    // main scripts (generated from coffeescript)
    script(src='scripts/presentation.js')
    
  body
  
    include slides.jade
