!!! xml
html

  head
    title Presentation
    
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    
    // Styles
    
    link(rel='stylesheet', href='styles/presentation.css', type='text/css')
    link(rel='stylesheet', 
         href='styles/ui-darkness/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='styles/ui.notify.css')
    
    // Scripts
    
    // jquery
    script(src='scripts/jquery-1.7.1.js')
    
    // jquery ui
    script(src='scripts/jquery-ui-1.8.16.custom.min.js')
    
    // jquery svg
    script(src='scripts/jquery.svg.js')
    script(src='scripts/jquery.svgdom.js')
    script(src='scripts/jquery.svganim.js')
    script(src='scripts/jquery.svgfilter.js')
    
    // growl-style notifications: https://github.com/ehynds/jquery-notify
    script(src='scripts/jquery.notify.js')
    
    // d3.js
    script(src='scripts/d3.js')
    
    // main script (generated from coffeescript)
    script(src='scripts/presentation.js')
    
  body
  
    include slides.jade
    include controls.jade