!!! xml
html

  head
    title Presentation

    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

    // Styles

    link(rel='stylesheet', href='styles/presentation.css', type='text/css')
    link(rel='stylesheet',
         href='styles/ui-darkness/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='styles/ui.notify.css')

    include script_includes.jade

    // main script (generated from coffeescript)
    script
        var slave_mode = 1

    script(src='scripts/presentation.js')


  body

    #presentation
        include slides.jade

    //- include controls.jade