
slide

  h1 My slide presentation goes here
  
  ul.incremental
    li and here...
    li and here...
    li and here...
  
  h3#blah Some more text
  
  build fade_in(#blah)
  build fade_out(#blah)
